In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = './data/'

# 대전광역시 인구 데이터 병합

In [3]:
daedeog = pd.read_csv(f'{file_path}daejeon/daedeog_gu.csv', encoding="cp949")
dong = pd.read_csv(f'{file_path}daejeon/dong_gu.csv', encoding="cp949")
jung = pd.read_csv(f'{file_path}daejeon/jung_gu.csv', encoding="cp949")
seo = pd.read_csv(f'{file_path}daejeon/seo_gu.csv', encoding="cp949")
yuseong = pd.read_csv(f'{file_path}daejeon/yuseong_gu.csv', encoding="cp949")

In [4]:
display(daedeog, dong, jung, seo, yuseong)

  지역별(1) 지표별(1)    지표별(2)    2020    2021
0  대전 동구     인구  인구총조사 인구  232559  233721

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  대전 대덕구     인구  인구총조사 인구  176393  175734

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  대전 유성구     인구  인구총조사 인구  368895  367288

  지역별(1) 지표별(1)    지표별(2)    2020    2021
0  대전 서구     인구  인구총조사 인구  478629  475671

  지역별(1) 지표별(1)    지표별(2)    2020    2021
0  대전 중구     인구  인구총조사 인구  231959  227326

In [5]:
df_daejeon = pd.concat([daedeog, dong, jung, seo, yuseong])
df_daejeon

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0   대전 동구     인구  인구총조사 인구  232559  233721
0  대전 대덕구     인구  인구총조사 인구  176393  175734
0  대전 유성구     인구  인구총조사 인구  368895  367288
0   대전 서구     인구  인구총조사 인구  478629  475671
0   대전 중구     인구  인구총조사 인구  231959  227326

In [6]:
df_daejeon = df_daejeon.reset_index().drop(columns='index')
df_daejeon

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0   대전 동구     인구  인구총조사 인구  232559  233721
1  대전 대덕구     인구  인구총조사 인구  176393  175734
2  대전 유성구     인구  인구총조사 인구  368895  367288
3   대전 서구     인구  인구총조사 인구  478629  475671
4   대전 중구     인구  인구총조사 인구  231959  227326

In [7]:
dj_sigungu_list = []
for idx in list(df_daejeon.index):
    a = df_daejeon['지역별(1)'][idx].split(' ')[1]
    dj_sigungu_list.append(a)

In [8]:
df_daejeon['지역별'] = dj_sigungu_list

In [9]:
df_daejeon = df_daejeon[['지역별', '2020', '2021']]
df_daejeon

   지역별    2020    2021
0   동구  232559  233721
1  대덕구  176393  175734
2  유성구  368895  367288
3   서구  478629  475671
4   중구  231959  227326

In [17]:
df_daejeon.to_csv(f'{file_path}daejeon_population.csv', index=False)

# 충청남도 인구 데이터 병합

In [10]:
gyeryong = pd.read_csv(f'{file_path}chungnam/gyeryong_si.csv', encoding="cp949")
dangjin = pd.read_csv(f'{file_path}chungnam/dangjin_si.csv', encoding="cp949")
cheongyang = pd.read_csv(f'{file_path}chungnam/cheongyang_gun.csv', encoding="cp949")
nonsan = pd.read_csv(f'{file_path}chungnam/nonsan_si.csv', encoding="cp949")
yesan = pd.read_csv(f'{file_path}chungnam/yesan_gun.csv', encoding="cp949")
hongseong = pd.read_csv(f'{file_path}chungnam/hongseong_gun.csv', encoding="cp949")
boryeong = pd.read_csv(f'{file_path}chungnam/boryeong_si.csv', encoding="cp949")
taean = pd.read_csv(f'{file_path}chungnam/taean_gun.csv', encoding="cp949")
buyeo = pd.read_csv(f'{file_path}chungnam/buyeo_gun.csv', encoding="cp949")
cheonan = pd.read_csv(f'{file_path}chungnam/cheonan_si.csv', encoding="cp949")
gongju = pd.read_csv(f'{file_path}chungnam/gongju_si.csv', encoding="cp949")
geumsan = pd.read_csv(f'{file_path}chungnam/geumsan_gun.csv', encoding="cp949")
seosan = pd.read_csv(f'{file_path}chungnam/seosan_si.csv', encoding="cp949")
seocheon = pd.read_csv(f'{file_path}chungnam/seocheon_gun.csv', encoding="cp949")
ahsan = pd.read_csv(f'{file_path}chungnam/ahsan_si.csv', encoding="cp949")

In [11]:
display(gyeryong, dangjin, cheongyang, nonsan, yesan, hongseong, boryeong, taean, buyeo, cheonan, gongju, geumsan, seosan, seocheon, ahsan)

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 계룡시     인구  인구총조사 인구  40854  41415

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 당진시     인구  인구총조사 인구  168955  169507

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 청양군     인구  인구총조사 인구  30103  30103

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 논산시     인구  인구총조사 인구  119707  117262

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 예산군     인구  인구총조사 인구  77838  76490

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 홍성군     인구  인구총조사 인구  102757  101618

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 보령시     인구  인구총조사 인구  99088  97390

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 태안군     인구  인구총조사 인구  60901  60285

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 부여군     인구  인구총조사 인구  64207  62415

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 천안시     인구  인구총조사 인구  682199  683888

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 공주시     인구  인구총조사 인구  108333  106915

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 금산군     인구  인구총조사 인구  53758  52436

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 서산시     인구  인구총조사 인구  176379  177497

   지역별(1) 지표별(1)    지표별(2)   2020   2021
0  충남 서천군     인구  인구총조사 인구  51039  50012

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 아산시     인구  인구총조사 인구  340518  348727

In [12]:
df_chungnam = pd.concat([gyeryong, dangjin, cheongyang, nonsan, yesan, hongseong, boryeong, taean, buyeo, cheonan, gongju, geumsan, seosan, seocheon, ahsan])
df_chungnam

   지역별(1) 지표별(1)    지표별(2)    2020    2021
0  충남 계룡시     인구  인구총조사 인구   40854   41415
0  충남 당진시     인구  인구총조사 인구  168955  169507
0  충남 청양군     인구  인구총조사 인구   30103   30103
0  충남 논산시     인구  인구총조사 인구  119707  117262
0  충남 예산군     인구  인구총조사 인구   77838   76490
0  충남 홍성군     인구  인구총조사 인구  102757  101618
0  충남 보령시     인구  인구총조사 인구   99088   97390
0  충남 태안군     인구  인구총조사 인구   60901   60285
0  충남 부여군     인구  인구총조사 인구   64207   62415
0  충남 천안시     인구  인구총조사 인구  682199  683888
0  충남 공주시     인구  인구총조사 인구  108333  106915
0  충남 금산군     인구  인구총조사 인구   53758   52436
0  충남 서산시     인구  인구총조사 인구  176379  177497
0  충남 서천군     인구  인구총조사 인구   51039   50012
0  충남 아산시     인구  인구총조사 인구  340518  348727

In [13]:
df_chungnam = df_chungnam.reset_index().drop(columns='index')
df_chungnam

    지역별(1) 지표별(1)    지표별(2)    2020    2021
0   충남 계룡시     인구  인구총조사 인구   40854   41415
1   충남 당진시     인구  인구총조사 인구  168955  169507
2   충남 청양군     인구  인구총조사 인구   30103   30103
3   충남 논산시     인구  인구총조사 인구  119707  117262
4   충남 예산군     인구  인구총조사 인구   77838   76490
5   충남 홍성군     인구  인구총조사 인구  102757  101618
6   충남 보령시     인구  인구총조사 인구   99088   97390
7   충남 태안군     인구  인구총조사 인구   60901   60285
8   충남 부여군     인구  인구총조사 인구   64207   62415
9   충남 천안시     인구  인구총조사 인구  682199  683888
10  충남 공주시     인구  인구총조사 인구  108333  106915
11  충남 금산군     인구  인구총조사 인구   53758   52436
12  충남 서산시     인구  인구총조사 인구  176379  177497
13  충남 서천군     인구  인구총조사 인구   51039   50012
14  충남 아산시     인구  인구총조사 인구  340518  348727

In [14]:
cn_sigungu_list = []
for idx in list(df_chungnam.index):
    a = df_chungnam['지역별(1)'][idx].split(' ')[1]
    cn_sigungu_list.append(a)

In [15]:
df_chungnam['지역별'] = cn_sigungu_list

In [16]:
df_chungnam = df_chungnam[['지역별', '2020', '2021']]
df_chungnam

    지역별    2020    2021
0   계룡시   40854   41415
1   당진시  168955  169507
2   청양군   30103   30103
3   논산시  119707  117262
4   예산군   77838   76490
5   홍성군  102757  101618
6   보령시   99088   97390
7   태안군   60901   60285
8   부여군   64207   62415
9   천안시  682199  683888
10  공주시  108333  106915
11  금산군   53758   52436
12  서산시  176379  177497
13  서천군   51039   50012
14  아산시  340518  348727

In [18]:
df_chungnam.to_csv(f'{file_path}chungnam_population.csv', index=False)

# 세종특별자치시 인구 데이터

In [20]:
df_sejong = pd.read_csv(f'{file_path}sejong/sejong.csv', encoding='cp949')

In [22]:
df_sejong = df_sejong.drop([0, 1])

In [24]:
df_sejong.columns = ['지역별', '2020', '2021']
df_sejong

     지역별   2020   2021
2   조치원읍  44462  44712
3    연기면   2835   2896
4    연동면   3625   3418
5    부강면   6479   6369
6    금남면   9202   9269
7    장군면   7229   7467
8    연서면   7693   7560
9    전의면   6078   5903
10   전동면   3731   3523
11   소정면   2634   2462
12   한솔동  19302  18679
13   새롬동  29696  38414
14   도담동  39679  33509
15   해밀동      -   8583
16   아름동  23634  23418
17   종촌동  29690  29256
18   고운동  34525  34265
19   소담동  32599  20476
20   반곡동      -  17755
21   보람동  19466  19082
22   대평동  11004  11343
23   다정동  27344  28420

In [25]:
df_sejong.to_csv(f'{file_path}sejong_population.csv', index=False)